<div class="search_books_by_author_name_label">Search by book name:</div>
<input class="search_books_by_author_name_input" onkeyup="search_authors(this)" placeholder="Ex: Name..."></input>
<div class="search_books_by_author_name_results" id="results_authors_search"><div id="results_authors_search_tempo"></div></div>
<%= javascript_pack_tag 'books_by_authors_name' %>
