
<div class="search_books_by_book_name_label">Search by book name:</div>
<input class="search_books_by_book_name_input" onkeyup="search_books(this)" placeholder="Ex: Book name..."></input>
<div class="search_books_by_book_name_results" id="results_books_search"><div id="results_books_search_tempo"></div></div>
<%= javascript_pack_tag 'books_by_bookname' %>
